@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-color: #2C394B;
  --secondary-color: #082032;
  --theme-color: #FF4C29;
  --border-style: #334756;
  --shadow-color: #082032;
}